@import "reset";
@import "globals";


html {
    font-family: $mainFont;
}

body {
    display: grid;
    width: 50vw;
    height: 100vh;
    grid-template-areas: "heading heading"
                         "left right";
    grid-template-rows: 2fr 15fr;
    grid-template-columns: 3fr 2fr;
    margin: 0 auto;
}

header {
    grid-area: heading;
    display:flex;
    align-items: center;
    justify-content: center;
    h1 {
        font-size: 3rem;
    }
}

.left {
    grid-area: left;
    height: 80%;
    form {
        width: 100%;
        height:100%;
        background-color: azure;
        display:flex;
        flex-direction: column;
        align-items: center;
        justify-content: flex-start;
            .contact_info {

                    .title_left {
                        font-size: 2rem;
                        margin-bottom: 2rem;
                    }

                    .regular_input {
                        width:40rem;

                        label {
                            font-size: 1.2rem;
                        }
                        .input_area {
                            position: relative;
                            
                            input {
                                width: 100%;
                                height: 3.6rem;
                                padding: 0.5rem 0.5rem 0.5rem 4.5rem;
                                border: 1px solid $leftInputCl;
                                border-radius: 0.5rem;
                                display: inline-block;
                                margin-bottom: 1rem;
                                margin-top: 1rem;
                            }

                            .fas {
                                position: absolute;
                                font-size: 2rem;
                                color: $leftInputCl;
                                
                                left: 3%;
                                top:50%;
                                transform: translateY(-50%);
                            }
                        }
                    }
            }
            .shipping_adr {
                margin-top: 2rem;
                .title_left {
                    font-size: 2rem;
                    margin-bottom: 2rem;
                }
                .regular_input {
                    width:40rem;
                    label {
                        font-size: 1.2rem;
                    }
                    .input_area {
                        position: relative;
                        
                        input {
                            width: 100%;
                            height: 3.6rem;
                            padding: 0.5rem 0.5rem 0.5rem 4.5rem;
                            border: 1px solid $leftInputCl;
                            border-radius: 0.5rem;
                            display: inline-block;
                            margin-bottom: 1rem;
                            margin-top: 1rem;
                        }
                        .fas {
                            position: absolute;
                            font-size: 2rem;
                            color: $leftInputCl;            
                            left: 3%;
                            top:50%;
                            transform: translateY(-50%);
                        }
                    }
                }
                .one_line {
                    display: flex;
                    align-items: flex-start;
                    justify-content: space-between;
                    .one_line_left {
                        .input_area {
                            select{
                                margin-top: 1rem;
                                margin-bottom: 1rem;
                                width: 13rem;
                                height: 3.6rem;
                                padding-left: 4rem;
                                border: 1px solid $leftInputCl;
                                border-radius: 0.5rem;
                            }
                        }
                    }
                }

                #check_label {
                    font-size: 1.5rem;
                    margin-left: 1rem;
                }

            }

            .continue {

                position: relative;
                input {
                    margin-top: 2rem;
                    width: 8.5rem;
                    height: 4.5rem;
                    background-color: $priceCl;
                    color: #FFF;
                    border:1px solid transparent;
                    border-radius: 15px;
                    box-shadow: 0 3px $leftInputCl;
                    
                    &:hover {
                        color:$priceCl;
                        background-color: #FFF;
                        border-color: $priceCl;
                    }
                }

                &:active{
                    top:3px;
                    input {
                        box-shadow: none;
                    }
                }
            }
        }
}

.right {
    grid-area: right;
    background-color: burlywood;
}

